<div class="card">
  <img
    class="img-fluid w-100"
    src="assets/images/image-not-available.png"
    alt="Sample"
  />

  <div class="card-body">
    <div class="card-title">
      <h5>{{ articolo.nomeArticolo }}</h5>
    </div>
    <p class="card-text small text-muted text-uppercase mb-2">
      Disponibilita: {{ articolo.disponibilita }}
    </p>
    <hr />
    <p class="card-text text-secondary">{{ articolo.prezzoUnitario }}€</p>
    <button (click)="addItemToCart()" class="btn btn-primary">Aggiungi</button>
  </div>
</div>
